<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <beans>
        <bean id="person" class="work.morem.bean.Department">
            <property name="id" value="003"></property>
            <property name="name" value="移动互联网"></property>
        </bean>
    </beans>
</beans>